/* Landing Styles */

#Landing {
  border: solid black 2px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 10px;
  text-align: center;
}
#News {
  justify-content: center;
  display: flex;
  text-align: center;
  height: 1000px;
}
.LandingContainer {
  border: solid black 2px;
  margin: 5px;
  padding: 100px;
}

.LandingButton {
  margin: 5px;
}

/* Register Styles */

#RegisterCSS {
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

/* Global Styles */
