/* font-family: 'Lalezar', cursive;
font-family: 'Viga', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Passion One', cursive; */

/* Landing Styles */

#Landing {
  border: solid black 2px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 10px;
  text-align: center;
}
#News {
  justify-content: center;
  display: flex;
  text-align: center;
  height: 1000px;
}
.LandingContainer {
  border: solid black 2px;
  margin: 5px;
  padding: 100px;
}

.LandingButton {
  margin: 5px;
}

/* Register Styles */

#RegisterCSS {
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
#LoginCSS {
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

/* Navbar */

.Nav {
  padding-top: 12px;
  padding-bottom: 5px;
  background-color: #1565c0;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.Brand {
  font-family: 'Lalezar', cursive;
  font-size: 35px;
}

.NavLinks {
  color: white;
}
